.LandingPage {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.LandingPage > .introduction {
    font-size: 72px;
    padding-left: 20vw;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 5vw;
}