.peta {
  width: 100%;
  /* height: 100%; */
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  /* position: absolute; */
  /* z-index: 99; */
}

.peta h2 {
  width: 100%;
  text-align: center;
  margin-top: 31px;
}

.peta .provinsi {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.peta .provinsi path {
  transition: all 0.2s;
}

.peta .provinsi path:hover {
  fill: black;
}

.peta .kasus {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.peta .kasus p {
  font-size: 10px;
}

.peta .kasus h2 {
  font-size: 18px;
  text-align: justify;
  margin-top: 0px;
}

.peta .total-kasus {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 21px;
}

.peta .total-kasus .total-kasus__satuan {
  margin: auto;
  text-align: center;
  width: 20%;
  padding: 5px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.peta .total-kasus .total-kasus__satuan h2 {
  margin-top: 10px;
}

.peta__container {
  width: 100%;
}
#peta-button {
  margin-top: 31px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 32px;
  height: 42px;
  background-color: white;
  border-width: 1px;
  border-color: black;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}

#peta-button:hover {
  color: white;
  background-color: black;
}
